html.pixora-dark {
  color-scheme: dark;
}

body {
  margin: 0;
}

#loader.loader {
  z-index: 9999;
  overflow: hidden;
  background: #000;
}

#loader.loader.loaded {
  pointer-events: none;
}

#loader .loader__wrapper {
  background: #000;
  color: #fff;
}

#loader .loader__wrapper::after {
  border-bottom-color: #fff;
}

#loader .count__text,
#loader .count__percent {
  color: #fff;
}

#loader .count__bdr {
  width: 0;
  background-color: #fff;
}

#loader.is-hiding .loader__count {
  transform: translateY(100%);
  transition: transform 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
}

#loader.is-hiding .loader__wrapper {
  transform: translateY(-100%);
  transition: transform 0.8s cubic-bezier(0.76, 0, 0.24, 1) 0.7s;
}

.px-project-thumb img,
.px-project-thumb .ripple-image {
  width: 100%;
}
